<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppViews"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CusView"
        tools:targetApi="31">
        <activity
            android:name=".views.cap2_animation.AnimationActivity"
            android:exported="false" />
        <activity
            android:name=".views.cap1_base.CaptureOneActivity"
            android:exported="false" />
        <activity
            android:name=".views.cap3_property_animator.PropertyAnimatorActivity"
            android:exported="false" />
        <activity
            android:name=".views.cap4_property_up.PropertyAnimUpActivity"
            android:exported="false" />
        <activity
            android:name=".views.cap5_animator_up.AnimatorUpActivity"
            android:exported="false" />
        <activity
            android:name=".views.cap6_paint_basic.PaintBasicActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>